In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [2]:
result = pd.read_csv('./result.csv')
result.head()

   user_id  predicted_age  predicted_gender
0  3000001              3                 1
1  3000002              7                 2
2  3000003              2                 2
3  3000004              3                 1
4  3000005              4                 1

In [3]:
res_test = []
for root, dirs, files in os.walk('./age_res/'):
    for files_name in files:
        if res_test == []:
            res_test = np.load(root+files_name)
        else:
            res_test += np.load(root+files_name)

In [4]:
result['predicted_age'] = np.argmax(res_test, axis=1) + 1

In [5]:
res_test = []
for root, dirs, files in os.walk('./gender_res/'):
    for files_name in files:
        if res_test == []:
            res_test = np.load(root+files_name)
        else:
            res_test += np.load(root+files_name)

In [6]:
result['predicted_gender'] = np.argmax(res_test, axis=1) + 1

In [13]:
result.to_csv('result_final_3.csv', index=False)
result.head()

   user_id  predicted_age  predicted_gender
0  3000001              3                 1
1  3000002              7                 2
2  3000003              2                 2
3  3000004              3                 1
4  3000005              4                 1

In [10]:
from ti import session
ti_session = session.Session()
inputs = ti_session.upload_data(path="result_final_3.csv", bucket="algo-1258864734", key_prefix="upload_semi")

In [14]:
res = pd.read_csv('result_final_2.csv')

In [15]:
res.predicted_age.corr(result.predicted_age)

0.9973145298903906